.App {
  background-color: #addfb33d;
}
.App .container {
  max-width: fit-content;
  margin: 0 auto;
}
.App a {
  color: yellowgreen;
}
.App header {
  margin: 0px;
}
.App-logo {
  max-width: 190px;
  display: block;
  margin: 0 auto;
}
.App footer {
  text-align: center;
}
.App h1 {
  text-align: center;
}
