@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&display=swap");
.App {
  background: linear-gradient(
    343deg,
    rgba(139, 215, 208, 1) 7%,
    rgba(160, 223, 179, 1) 46%,
    rgba(226, 254, 238, 1) 83%
  );
  font-family: "Nunito", sans-serif;
  color: #6eb351;
}
.App .container {
  max-width: 950px;
  margin: 0 auto;
}
.App .link {
  font-weight: bold;
  color: #429e9d;
}
.App header {
  margin: 0px;
}
.App-logo {
  max-width: 190px;
  display: block;
  margin: 0 auto;
}
.App footer {
  text-align: center;
  font-size: larger;
  color: #429e9d;
}
.App .titulo {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: yellowgreen;
  font-size: 60px;
}
.App .subtitulo {
  text-align: center;
  color: #7cb30d;
  font-size: 40px;
  font-weight: bold;
}
